.weather {
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  width: 100%;
  min-height: 736px;
}
.weather .title {
  color: aliceblue;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
}
