.displayweather {
  color: rgb(42, 42, 42);
  margin-top: 20px;
}
.maincard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.349);
  padding-bottom: 10px;
}
.maincard div:first-child {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
.maincard div:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cardtitle {
  font-weight: 500;
  font-size: 1rem;
}
.cardsubtitle {
  color: rgba(0, 0, 0, 0.8);
  margin-top: 8px;
}
.weather-main {
  color: rgba(0, 0, 0, 0.8);
}
.displayweather h1 {
  font-size: 3rem;
  margin: -10px;
}
.weather-icon {
  width: 100px;
}

/* weatherdetails */
.weatherdetails {
  width: 400px;
  margin: 20px auto;
}
.weatherdetails table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.349);
  width: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 40px;
}

h4 {
  font-size: 0.8rem;
  font-weight: 400;
}
.displayweather .weatherdetails span {
  font-size: 1.1rem;
  font-weight: 600;
}
