body{
  background: url("https://mocah.org/uploads/posts/124416-miui-8-rainy-weather-background-minimal-hd.png");
}
.weather {
  width: 700px;
  background-color: rgba(255, 255, 255, 0.246);
  margin-top: 20px;
  border: 6px outset rgb(219, 219, 219);
  border-radius: 20px;
  padding-bottom: 30px;
  padding: 0px 20px 20px 20px;
  margin-left: 25%;
}
.weather .title {
  color: aliceblue;
  font-size: 4rem;
  padding-left: 130px;
  text-shadow: 0 2px 20px rgb(88, 175, 251);
}
.weather form {
  margin-top: 30px;
  padding-left: 90px;

}
.weather form input {
  padding: 10px;
  border: none;
  border: 3px inset rgb(202, 202, 202);
  margin-right: 10px;
  margin-left: 30px;
}
input::placeholder{
  font-size: 17px;
}

.weather form input:focus {
  outline: none;
  border: 3px inset rgb(202, 202, 202);
}

.weather .getweather {
  margin-left: 25px;
  padding: 7px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  border: 3px inset rgb(224, 224, 224);
  background: rgba(1, 59, 24, 0.8);
  cursor: pointer;
  color: whitesmoke;
}

.weather .getweather:hover {
  color: rgb(238, 250, 239);
  background-color:  rgba(0, 37, 15, 0.8);
}

.weather .getweather:focus {
  outline: none;
}
