.toggle-button-cover {
  position: relative;
}
.button {
  width: 90px;
  height: 26px;
  overflow: hidden;
  background-color: rgb(226, 226, 226);
}
.button.b2 {
  border-radius: 2px;
}
.checkbox {
  opacity: 0;
  cursor: pointer;
}
#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 0px;
  width: 45px;
  height: 100%;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}
#button-10 .knobs:before {
  content: "";
  left: 0px;
  background-color: #03a9f4;
}
#button-10 .knobs:after {
  content: "NO";
  right: 0px;
  color: #4e4e4e;
}
#button-10 .knobs span {
  left: 0px;
}
#button-10 .checkbox:checked + .knobs span {
  color: #4e4e4e;
}
#button-10 .checkbox:checked + .knobs:before {
  left: 45px;
  background-color: #f44336;
}
#button-10 .checkbox:checked + .knobs:after {
  color: #fff;
}